# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
run-client
runs
run-data
repo
logs

# python
__pycache__/
*.pyc

# data generator cache
src/generated/resources/.cache
